# Libraries and Modules

In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

In [12]:
mt.sqrt(25)

5.0

In [13]:
import numpy as np
import math as mt
from scipy import stats

In [14]:
from numpy import random

In [15]:
import numpy as np

In [17]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [18]:
dataOne

array([[0.11674725, 0.71016463, 0.1733693 , 0.74732019, 0.99339349],
       [0.88802728, 0.70540938, 0.79546283, 0.62560782, 0.97449185],
       [0.77560015, 0.28605061, 0.21983791, 0.80953816, 0.61699111],
       [0.27698479, 0.21373389, 0.54325439, 0.7018558 , 0.80663027],
       [0.37578693, 0.85918727, 0.12083069, 0.48336556, 0.53864225]])

In [19]:
np.mean(dataOne)

0.5743313523025149

In [60]:
# Use three predefined functions with math and stats to obtain information about the data stored in the numpy array

In [21]:
np.median(dataOne)

0.6256078172457342

In [22]:
np.max(dataOne)

0.9933934875214497

In [23]:
np.std(dataOne)

0.272266000834753

In [24]:
np.min(dataOne)

0.1167472476945397

# Functions

In [26]:
print('I Love data Science')

I Love data Science

In [27]:
print('I would like to find a DA/DS job in early 2020')

I would like to find a DA/DS job in early 2020

# Variables

In [28]:
variableName = 25

In [31]:
variableName1 = 'I Love data Science'

In [33]:
print(variableName1)

I Love data Science

# Datatypes

In [35]:
variableName = 25

In [36]:
type(variableName)

int

In [37]:
variableName = 25.0

In [38]:
type(variableName)

float

In [39]:
varOne = 25

In [40]:
varTwo = 'Hello'

In [41]:
varThree = varOne + varTwo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
print(varThree)

NameError: name 'varThree' is not defined

In [51]:
x = str(25)
y = str('Hello')

In [53]:
print(x + " " + y)

25 Hello

In [43]:
z = complex("20")
print(z)

(20+0j)

# Lists and Dictionaries

In [54]:
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [55]:
tel = {'jack': 4098, 'sape': 4139}

In [56]:
tel['jack']

4098

In [145]:
new_tel1 = tel['sape'] + mt.sqrt(25)
new_tel1

4144.0

In [147]:
new_tel2 = tel['sape'] + mt.floor(25)
new_tel2

4164

In [148]:
new_tel3 = tel['sape'] + mt.pi
new_tel3

4142.14159265359

In [65]:
# Define a variable that represents a dictionary with 5 INT elements
my_dict = {"Tommy's age" : 5, "Debbie's age" : 10, "Grace's age" : 8, "Mark's age": 7, "Eileen's age" : 9}

In [61]:
# Use functions from the math module to perform three different math operations on three of the five elements; 
# you may find it easier to define variables for the elements. Feel free to combine elements as needed.

In [128]:
my_dict1 = {"Tommy's age" : 5, "Debbie's age" : 10, "Grace's age" : 8}

In [129]:
my_dict1["Tommy's age"]

5

In [143]:
new_dict1 = my_dict1["Tommy's age"] + mt.sqrt(25)
print(new_dict1)

10.0

In [142]:
new_dict2 = my_dict1["Debbie's age"] + mt.floor(25)
print(new_dict2)

35

In [141]:
new_dict3 = my_dict1["Grace's age"] + mt.pi
print(new_dict3)

11.141592653589793

# Chapter 4 from Data Science for Dummies

In [2]:
ord("A")

65

In [3]:
myInt = int("123")

In [4]:
myInt

123

In [27]:
def SayHello(Greeting ="Howdy!"):
    print(Greeting)

In [31]:
SayHello()

Howdy!

In [33]:
def DisplayMulti(ArgCount = 0, *VarArgs):    
    print('You passed ' + str(ArgCount) + ' arguments.', VarArgs)

In [36]:
DisplayMulti(3, 'Hello', 1, True)

You passed 3 arguments. ('Hello', 1, True)

# Was it straightforward to install Python and all of the libraries?

In [ ]:
# Initially, I have installed Anaconda 3.7.4 from CLI which include all required libraries packages and Jupyter Notebook. 
# Later on, when I run pip3 -- version, I got an error message: "'pip3' is not recognized as an internal or external command,
# operable program or batch file". Therefore, I downloaded Python by itself and want to see it I can run the same command. 
# Yes I did! But here came another question, I do not want to create too many environments at the same time, it is not easy 
# to organize the files and took a lot space and if I want to intall Numpy under one environment I could not see it 
# in the other environment. After I did some online research, i decided to remove the Python and only kept the Anaconda. 
# I used Anaconda Navigator to search for the latest version of each libary package and then downloaded to the Anaconda 
# Environment. All resources have been integrated under Anaconda:)

# Was the tutorial useful? Would you recommend it to others?

In [ ]:
# Yes, the tutorial is very useful. I would recommmend it to other friends who is interested in learning Python.

# What are the main lessons you've learned from this experience?

In [ ]:
# I need to get used to the Command Line Interface from now on. Acutally starting from the 4th course, I started to use CLI 
# more often, like setting up the AWS, concatenating the large matrix data that I crawlled from Common Crawl. In this course,
# I learnt to commit/push files onto Github repository and download packages to my local machine all via CLI.